body {
   color: #f4f4f4;
   background-color: black;
}

.sidebar {
   width: 90%;
   /* ancho del menú lateral */
   background-color: black;
   /* color de fondo del menú lateral */
   margin-left: 10px;
}

ul {
   list-style: none;
   /* quitar los estilos por defecto de la lista */
   margin: 0;
   padding: 0;
}

li {
   margin: 5px 0;
   /* margen entre elementos de la lista */
   font-family: 'Courier New', Courier, monospace;
   font-size: medium;
}

a {
   color: white;
   /* color de texto por defecto */
   text-decoration: none;
   /* quitar subrayado por defecto */
   transition: color 0.2s;
   /* transición para el efecto hover */
}

a:hover {
   border-radius: 10px;
   padding: 5px;
   color: black;
   /* color de texto al pasar el ratón por encima */
   background-color: white;
   /* color de fondo al pasar el ratón por encima */
}

.nombre:hover {
   border-radius: 10px;
   padding: 5px;
   color: black;
   /* color de texto al pasar el ratón por encima */
   background-color: white;
   /* color de fondo al pasar el ratón por encima */
}

.parrafo{
   margin-left: 5%;
   margin-right: 5%;
}

.datos{
   margin-left: 10%;
   margin-right: 10%;
}

.datos label{
   margin: 5px;
   margin-left: 20%;
}

.datos input{
   width: 60%;
   margin-right: 20%;
}

.datosindv{
   display: flex;
}

.contactenos{
   display: flex;
   margin-left: 20%;
   margin-right: 20%;
}

.contactenos img{
   width: 50px;
}

.redes{
   margin-left: 5%;
   margin-right: 5%;
}
/*
frame{
   
}*/